/* 검색 섹션 스타일 */
.search-section {
  padding: 2rem;
  background-color: #f4f4f4;
}

/* 자동완성 드롭다운 스타일 */
.autocomplete-items {
  position: absolute; /* 절대 위치 */
  top: 100%; /* input 바로 아래에 위치 */
  left: 0; /* 왼쪽에 정렬 */
  width: 100%; /* 부모 요소(search-bar)와 같은 너비 */
  max-height: 150px; /* 최대 높이 설정. 필요에 따라 조정할 수 있습니다. */
  overflow-y: auto; /* 스크롤 가능 */
  border: 1px solid #ccc; /* 테두리 */
  background-color: #fff; /* 배경색 */
  z-index: 100; /* 다른 요소 위에 오도록 설정 */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* 약간의 그림자 효과 추가 */
  display: none;
}

.autocomplete-items div {
  padding: 8px 12px; /* 안쪽 여백 */
  cursor: pointer; /* 핸드 아이콘 표시 */
  border-bottom: 1px solid #e5e5e5; /* 아이템 간 구분선 */
}

.autocomplete-items div:hover {
  background-color: #f7f7f7; /* 마우스 오버 시 배경색 변경 */
}

.autocomplete-items div:last-child {
  border-bottom: none; /* 마지막 아이템에는 구분선 제거 */
}

/* SearchResultPage.css */
.load-more {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
}
.load-more:hover {
  background-color: #0056b3;
}
