@import url(./Reset.css);

/* help-card */
.help-card {
  text-align: left;
}
.help-card .accordion {
  border-top: 1px solid #cdcdcd;
}
.help-card .accordion:first-child,
.help-card .accordion:last-child {
  border-bottom: none;
}
.help-card .accordion .accordion-tit button {
  margin-right: 14px;
}
.help-question {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4em;
  padding: 18px 6px 18px 56px;
}
.help-content {
  position: relative;
  font-size: 15px;
  padding: 20px 20px 20px 56px;
  color: #757575;
  background: #fafafa;
}
.accordion.on .help-content {
  display: block;
}
.accordion.off .help-content {
  display: none;
}
.help-question::before,
.help-content::before {
  content: "";
  width: 17px;
  height: 20px;
  background: url(../assets/images/ic_q.png) no-repeat center;
  position: absolute;
  left: 18px;
  top: 18px;
}
.help-content::before {
  background-image: url(../assets/images/ic_a.png);
  top: 22px;
}

@media only screen and (max-width: 768px) {
  .help-question,
  .help-content {
    font-size: 14px;
  }
  .help-card .accordion .accordion-tit button {
    margin-right: 8px;
  }
}
