@import url(./Reset.css);

/* login-wrap */
.login-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}
.login-wrap a {
  width: 420px;
  height: 72px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  font-size: 16px;
  color: #000;
  transition: filter 0.3s;
}
.login-wrap a:hover {
  filter: brightness(0.95);
}
.login-wrap .login-google {
  background: #fff;
  border: 1px solid #c6c6c6;
}
.login-wrap .login-naver {
  background: #2db400;
  color: #fff;
}
.login-wrap .login-kakao {
  background: #f9e100;
}

@media only screen and (max-width: 768px) {
  .page-tit.login {
    margin-top: 16vh;
    margin-bottom: 50px;
  }
  .login-wrap {
    gap: 14px;
  }
  .login-wrap a {
    width: 100%;
    height: 60px;
    font-size: 14px;
  }
}
