@import url(./Reset.css);

/* banner ad */
.banner-ad {
  position: relative;
  max-width: 1600px;
  height: 280px;
  margin: 24px auto 0;
  padding: 0 20px;
}
.banner-ad a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 12px;
}
.banner-ad a img {
  object-fit: cover;
  width: 100%;
  max-width: 1920px;
  height: 100%;
  transition: transform 0.3s ease;
}
.banner-ad a:hover img {
  transform: scale(1.02);
}
.banner-ad .banner-close {
  position: absolute;
  right: 26px;
  bottom: 18px;
}
.banner-ad .banner-close button {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 7px 10px;
  border-radius: 4px;
  transition: background 0.3s ease;
}
.banner-ad .banner-close button + button {
  margin-left: 10px;
}
.banner-ad .banner-close button:hover {
  background: rgba(0, 0, 0, 0.8);
}

/* main ranking */
.ranking-section section {
  max-width: 1200px;
  text-align: center;
  padding: 60px 0 74px;
  margin: 0 auto;
}
.ranking-section .tit {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 12px;
}
.ranking-section .tit h2 {
  display: inline-block;
  position: relative;
  font-size: 22px;
  line-height: 26px;
  font-weight: 800;
}
.ranking-section .tit button,
.ranking-section .tit button img {
  width: 25px;
  height: 25px;
}
.ranking-section p {
  color: #8a8a8a;
}
.ranking-section .ranking-kkini-ranking .btn-login {
  width: auto;
  height: 26px;
  background: #f60;
  padding: 0px 12px;
  border-radius: 16px;
  color: #fff;
}
.ranking-section .ranking-section-bg {
  background: #f8f8f8;
}
.ranking-kkini-green h2::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: -26px;
  background: url(../assets/images/ic_green.png) no-repeat center;
}

/* bak */
.ranking-images {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
}
.ranking-images img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

@media only screen and (max-width: 1280px) {
  .banner-ad {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 768px) {
  .banner-ad {
    height: 220px;
    padding: 101px 0 0;
    margin-top: 0;
  }
  .banner-ad a {
    border-radius: 0;
  }
  .banner-ad .banner-close {
    right: 14px;
    bottom: 8px;
  }
  .banner-ad .banner-close button {
    font-size: 12px;
  }
  .ranking-section section {
    padding: 48px 0 72px;
  }
  .ranking-section .tit {
    gap: 8px;
    margin-bottom: 8px;
  }
  .ranking-section .tit h2 {
    font-size: 18px;
    line-height: 24px;
  }
  .ranking-section .ranking-kkini-ranking .btn-login {
    height: 24px;
    font-size: 12px;
    padding: 0 8px;
  }
  .ranking-section .tit button,
  .ranking-section .tit button img {
    width: 22px;
    height: 22px;
  }
  .ranking-section p {
    font-size: 12px;
  }
}
