/* product wrap */
.product-wrap {
    display: flex;
    gap: 20px;
}

/* category bar container */
.category-bar-container {
    width: 22%;
    text-align: left;
    border-top: 1px solid #cdcdcd;
}
.category-wrap {
    padding: 18px 0;
    border-bottom: 1px solid #e5e5e5;
}
.category-wrap h3 {
    font-size: 16px;
}
.accordion .categories:nth-of-type(2) {
    margin-top: 12px;
}
.category-wrap .categories + .categories {
    margin-top: 10px;
}
/* accordion */
.category-bar-container .accordion.on .accordion-tit button img {
    width: 8px;
}
.category-bar-container .accordion.off .accordion-tit button img {
    width: 8px;
}
.category-bar-container .accordion.off .categories {
    display: none;
}

/* product list */
.product-list-wrapper {
    width: calc(78% - 20px);
    border-top: 1px solid #cdcdcd;
    padding-top: 26px;
}
.product-list {
    display: flex;
    flex-direction: column;
    gap: 0;
}
.product-item {
    display: flex;
    width: 100%;
    position: relative;
    text-align: left;
}
.product-item::before {
    position: absolute;
    top: 26px;
    left: 0;
    color: #fff;
    background: #797979;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    padding: 5px 11px;
}
.product-item:first-child::before,
.product-item:nth-child(2)::before,
.product-item:nth-child(3)::before {
    background: rgba(255, 102, 0, 0.9);
}
.product-item:first-child::before {
    content: "Best 1";
    top: 0;
}
.product-item:nth-child(2)::before {
    content: "Best 2";
}
.product-item:nth-child(3)::before {
    content: "Best 3";
}
.product-item:nth-child(4)::before {
    content: "Best 4";
}
.product-item:nth-child(5)::before {
    content: "Best 5";
}
.product-item:nth-child(6)::before {
    content: "Best 6";
}
.product-item:nth-child(7)::before {
    content: "Best 7";
}
.product-item:nth-child(8)::before {
    content: "Best 8";
}
.product-item:nth-child(9)::before {
    content: "Best 9";
}
.product-item:nth-child(10)::before {
    content: "Best 10";
}
.product-item + .product-item {
    margin-top: 26px;
    border-top: 5px solid #f8f8f8;
    padding-top: 26px;
}
.product-item .img-wrapper {
    width: 240px;
    height: 240px;
    margin-right: 24px;
}
.product-item .con-wrapper {
    width: calc(100% - 264px);
}
.product-item .item-title {
    position: relative;
    padding-top: 2px;
}
.product-item .item-title .tag-container {
  position: absolute;
  top: -3px;
  right: 0;
}
.tag-container button + button {
    margin-left: 6px;
}
.tag-container button span {
  padding: 6px 8px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 700;
}
.product-item .company {
    font-size: 14px;
}
.product-item h4 {
    font-size: 20px;
    line-height: 1.4em;
    margin: 4px 0 10px;
    word-break: break-all;
}
.product-item .rating-display {
    display: flex;
    align-items: flex-start;
    gap: 6px;
    font-size: 15px;
}
.product-item .rating-display u {
    font-size: 14px;
    margin-left: 5px;
}
.product-item .rating-display img {
    width: 22px;
    height: 22px;
    margin-top: -1px;
}
.product-item .item-info {
    display: flex;
    margin-top: 24px;
    padding-top: 24px;
    padding-left: 4px;
    border-top: 1px solid #dddddd;
}
.product-item .item-info > ul li {
    display: flex;
    color: #393939;
    line-height: 1.5em;
    font-size: 14px;
    font-weight: 600;
}
.product-item .item-info > ul li + li {
    margin-top: 12px;
}
.product-item .item-info .nutrients {
    width: 136px;
    margin-right: 30px;
    border-right: 1px solid #dddddd;
}
.item-info .rating-wrap li .rating-name {
    width: 92px;
}
.product-item .item-info .rating-wrap .review-rating {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.product-item .item-info .rating-wrap .review-rating img {
    width: 20px;
    height: 20px;
}
.product-list-wrapper:has(.no-data) {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 200px;
}
.product-list-wrapper .no-data {
    font-size: 16px;
    color: #8a8a8a;
}

@media only screen and (max-width: 1024px) {
    .product-item .item-info {
        flex-direction: column;
        margin-top: 20px;
        padding-top: 18px;
    }
    .product-item .item-info .nutrients {
        width: 100%;
        border-bottom: 1px solid #dddddd;
        border-right: none;
        padding-bottom: 18px;
        margin-bottom: 18px;
    }
}

@media only screen and (max-width: 768px) {
    .product-wrap {
        padding-left: 12px;
        padding-right: 12px;
        flex-direction: column;
        align-items: center;
    }
    .category-bar-container {
        width: 100%;
    }
    .category-wrap {
        padding: 10px 6px;
    }
    .category-wrap h3 {
        font-size: 13px;
    }
    .accordion .categories:nth-of-type(2) {
        margin-top: 10px;
    }
    input[type="checkbox"] + label {
        font-size: 13px;
        background-size: 18px;
        line-height: 18px;
        padding-left: 28px;
    }
    .icon input[type="checkbox"] + label::before {
        top: 0px;
    }
    .product-list-wrapper {
        width: 100%;
        padding-top: 4px;
        border-top: none;
    }
    .product-list-wrapper:has(.no-data) {
        padding-top: 100px;
    }
    .product-list-wrapper .no-data {
        font-size: 14px;
    }
    .product-list {
        gap: 18px 12px;
    }
    .product-item + .product-item {
        margin-top: 6px;
        padding-top: 22px;
    }
    .product-item::before {
        font-size: 12px;
        padding: 3px 8px;
        border-radius: 2px;
        top: 22px;
    }
    .product-item .img-wrapper {
        width: 160px;
        height: 160px;
        margin-right: 18px;
    }
    .product-item .item-title {
        display: grid;
    }
    .product-item .company {
        font-size: 12px;
        order: 2;
    }
    .product-item h4 {
        font-size: 16px;
        margin: 3px 0 7px;
        order: 3;
    }
    .product-item .rating-display {
        font-size: 12px;
        gap: 4px;
        order: 4;
    }
    .product-item .rating-display img {
        width: 16px;
        height: 16px;
        margin-top: 2px;
    }
    .product-item .rating-display u {
        font-size: 13px;
    }
    .product-item .item-title .tag-container {
        position: unset;
        margin-bottom: 10px;
        order: 1;
    }
    .tag-container button span {
        padding: 5px 6px;
        border-radius: 4px;
        font-size: 12px;
    }
    .product-item .con-wrapper {
        width: calc(100% - 178px);
    }
    .product-item .item-info {
        margin-top: 15px;
        padding-top: 14px;
        padding-left: 0;
    }
    .product-item .item-info > ul li {
        line-height: 1.2em;
        font-size: 13px;
    }
    .product-item .item-info .nutrients {
        padding-bottom: 14px;
        margin-bottom: 14px;
    }
    .product-item .item-info .rating-wrap span {
        font-size: 13px;
    }
    .product-item .item-info .rating-wrap .review-rating img {
        width: 15px;
        height: 15px;
    }
}
