.search-result-page {
    display: flex;
}

.category-bar-container {
    flex: 1;
    max-width: 200px;
}

.product-list-wrapper {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-item {
    width: 100%;
    border: 1px solid #e0e0e0;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.product-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.load-more {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.load-more:hover {
    background-color: #0056b3;
}

.footer {
    background-color: #f7f7f7;
    padding: 20px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}
