/* product wrap */
.product-wrap {
  display: flex;
  gap: 20px;
}

/* category bar container */
.category-bar-container {
  width: 22%;
  text-align: left;
  border-top: 1px solid #cdcdcd;
}
.category-wrap {
  padding: 22px 0;
  border-bottom: 1px solid #cdcdcd;
}
.category-wrap h3 {
  font-size: 16px;
  margin-bottom: 12px;
}
.category-wrap .categories + .categories {
  margin-top: 10px;
}

/* product list */
.product-list-wrapper {
  width: calc(78% - 20px);
}
.product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 26px 20px;
}
.product-item {
  width: calc(100% / 3 - 14px);
  cursor: pointer;
  text-align: left;
}
.product-item img {
  width: 100%;
}
.product-item h4 {
  font-size: 17px;
  margin: 16px 0 8px;
}
.product-item .rating-display {
  display: flex;
  align-items: flex-start;
  gap: 6px;
}
.product-item .rating-display img {
  width: 18px;
  height: 18px;
  margin-top: 1px;
}
.product-list-wrapper:has(.no-data) {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 200px;
}
.product-list-wrapper .no-data {
  font-size: 16px;
  color: #8a8a8a;
}

/* bak */
/* .load-more {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
}
.load-more:hover {
  background-color: #0056b3;
} */
